/* 顶部 */
#wrapper{
    width: 100%;
}
#wrapper #top{
    height: 80px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display:flex;
}
#top>img{
    width: 80px;
    flex:1;
}
#top>p{
    color:#00a862;
    font-weight: bolder;
    font-size: 40px;
    flex:6;
    padding-top: 10px;
}
/* 顶部导航 */
#wrapper #top-nav{
    background: #00a862;
    height: 80px;
}
#wrapper #top-nav #nav-a{
    background: #00a862;
    margin: 0 15px;
    display:flex;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 20px;
    color:#fff;
}
#nav-a #nav-one{
    flex:1;
    margin: 0 2px;
    cursor: pointer;
}
#nav-a #nav-two{
    flex:1;
    margin: 0 2px;
    cursor: pointer;
}
#nav-a #nav-three{
    flex:1;
    margin: 0 2px;
    cursor: pointer;
}
#nav-a #nav-four{
    flex:1;
    margin: 0 2px;
    cursor: pointer;
}
#wrapper #top-nav #nav-b{
    display:none;
}
#wrapper #top-nav #nav-b>span{
    cursor: pointer;
}
/* #wrapper #top-nav  */
#nav-c{
    width: 280px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-right:1px solid #fff;
    display:none;
    z-index: 9999;
}
#list{
    background: #00a862;
    text-align: center;
    color:#fff;
    font-size: 20px;
}
#list .navc{
    height: 60px;
    line-height: 60px;
    border-bottom: 2px solid #fff;
    cursor: pointer;
}
/* 轮播图 */
#pic #box{
    width: 100%;
    height: 2rem;
    overflow: hidden;
    position: relative;
}
#pic #box img{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    animation-timing-function: linear;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
#box img.show{
    animation-name: show;
}
#ads img.unshow {
    animation-name: disapper;
}
#box img.unshow {
    animation-name: disapper;
}
@keyframes show {
    from {
        opacity:0;
    }

    to {
        opacity: 1;
    }
}

@keyframes disappear {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
#box ul {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

#box ul li {
    width: 20px;
    height: 8px;
    float: left;
    background: rgba(255, 255, 255, 0.7);
    margin-right: 8px;
    cursor: pointer;
}
#box ul li.active {
    background: #00a862;
}

/* 作品 */
#middle{
    margin: 15px 15px;
}
#middle #title1{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
#div-a{
    display:flex;
    height: 2rem;
}
#div-a #div1{
    flex:1;
    margin: 10px 10px;
    background: #00a862;
}
#div-a #div2{
    flex:1;
    margin: 10px 10px;
    background: #00a862;
}
#div-b{
    display:flex;
    height: 2rem;
}
#div-b #div3{
    flex:1;
    margin: 10px 10px;
    background: #00a862;
}
#div-b #div4{
    flex:1;
    margin: 10px 10px;
    background: #00a862;
}
/* 网站简介 */
#introduce{
    margin: 10x 10px;
    background: #00a862;
    padding: 10px 0 10px 0;
}
#aa{
    background: #ffffff;
    height: 2rem;
    margin: 10px 30px;
}
#introduce #title2{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
#in-text{
    font-size: 20px; 
}
/* 关于我们 */
#us{
    height: 1rem;
    margin: 10px 30px;
    border-top: 2px solid #00a862;
    border-left: 2px solid #00a862;
    border-bottom: 2px solid #00a862;
}
#us #us1{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
/* 联系我们 */
#contact{
    height: 1rem;
    margin: 10px 30px;
    display:flex;
}
#contact #contact1{
    flex:1;
    background: #00a862;
    color:#fff;
    font-size: 26px;
    text-align: center;
    line-height: 1rem;
}
#contact #contact2{
    flex:3;
    border-top: 2px solid #00a862;
    border-right: 2px solid #00a862;
    border-bottom: 2px solid #00a862;
    padding-left:10px; 
    font-size: 18px;
}
#contact2>ul>li{
    padding:10px;
    border-bottom:1px solid #00a862;
}

/* 底部 */
#bottom{
    position: relative;
}
#bottom #back{
    background: #00a862;
    text-align: center;
    line-height: 0.5rem;
    position: absolute;
    right: 20px;
    font-size: 0.2rem;
    width: 1.2rem;
    height: 0.5rem;
    color:#fff;
    border-radius: 0.3rem;
    cursor: pointer;
}





@media screen and (max-width:960px){
    #wrapper #top{
        height: 80px;
    }
    #wrapper #top-nav{
        height: 70px;
    }
    #wrapper #top-nav #nav-a{
        display:none;
    }
    #wrapper #top-nav #nav-b{
        display:block;
        padding-left: 15px;
        color:#fff;
        font-size: 16px;
        line-height: 70px;
    }
    #middle #title1{
        font-size: 26px;
    }
    #introduce #title2{
        font-size: 26px;
    }
    #in-text{
        font-size: 18px; 
    }
    #us #us1{
        font-size: 26px;
    }
    #us{
        height: 1.5rem;
    }
    #contact #contact1{
        font-size: 20px;
    }
    #contact #contact2{
        padding-left:10px; 
        font-size: 16px;
    }
    #contact2>ul>li{
        padding:5px 10px;
        border-bottom:1px solid #00a862;
    }
}
@media screen and (max-width:480px){
    #wrapper #top{
        height: 60px;
    }
    #wrapper #top-nav{
        height: 60px;
    }
    #wrapper #top-nav #nav-b{
        line-height: 60px;
    }
    #box ul {
        position: absolute;
        bottom: 3px;
    }
    #box ul li {
        width: 10px;
        height: 4px;
    }
    #middle #title1{
        font-size: 22px;
    }
    #introduce #title2{
        font-size: 22px;
    }
    #top>p{
        font-size: 30px;
        padding-top: 10px;
    }
    #in-text{
        font-size: 16px; 
    }
    #us #us1{
        font-size: 22px;
    }
    #us{
        height: 2rem;
    }
    #contact #contact1{
        font-size: 13px;
    }
    #contact #contact2{
        padding-left:10px; 
        font-size: 13px;
    }
    #contact2>ul>li{
        padding:0px 10px;
        border-bottom:1px solid #00a862;
    }
}


.change{
    animation: change 1.5s ease forwards;
}
@keyframes change{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}