/* 顶部 */
#wrapper{
    width: 100%;
}
#wrapper #top{
    height: 0.5rem;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
#top>p{
    color:#00a862;
    font-weight: bolder;
    font-size: 0.3rem;
}
/* 顶部导航 */
#wrapper #top-nav{
    background: #00a862;
    height: 80px;
}
#wrapper #top-nav #nav-a{
    background: #00a862;
    margin: 0 15px;
    display:flex;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 20px;
    color:#fff;
}
#nav-a #nav-one{
    flex:1;
    margin: 0 2px;
    cursor: pointer;
}
#nav-a #nav-two{
    flex:1;
    margin: 0 2px;
    cursor: pointer;
}
#nav-a #nav-three{
    flex:1;
    margin: 0 2px;
    cursor: pointer;
}
#nav-a #nav-four{
    flex:1;
    margin: 0 2px;
    cursor: pointer;
}
#wrapper #top-nav #nav-b{
    display:none;
}
#wrapper #top-nav #nav-c{
    width: 280px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-right:1px solid #fff;
    display:none;
}
#list{
    background: #00a862;
    text-align: center;
    color:#fff;
    font-size: 20px;
}
#list .navc{
    height: 60px;
    line-height: 60px;
    border-bottom: 2px solid #fff;
    cursor: pointer;
}
/* 轮播图 */
#pic #box{
    width: 100%;
    height: 2rem;
    overflow: hidden;
    position: relative;
}
#pic #box img{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    animation-timing-function: linear;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
#box img.show{
    animation-name: show;
}
#ads img.unshow {
    animation-name: disapper;
}
#box img.unshow {
    animation-name: disapper;
}
@keyframes show {
    from {
        opacity:0;
    }

    to {
        opacity: 1;
    }
}

@keyframes disappear {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
#box ul {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

#box ul li {
    width: 20px;
    height: 8px;
    float: left;
    background: rgba(255, 255, 255, 0.7);
    margin-right: 8px;
    cursor: pointer;
}
#box ul li.active {
    background: #00a862;
}




@media screen and (max-width:960px){
    #wrapper #top{
        height: 0.6rem;
    }
    #wrapper #top-nav{
        height: 70px;
    }
    #wrapper #top-nav #nav-a{
        display:none;
    }
    #wrapper #top-nav #nav-b{
        display:block;
        padding-left: 15px;
        color:#fff;
        font-size: 16px;
        line-height: 70px;
    }
}
@media screen and (max-width:480px){
    #wrapper #top{
        height: 1rem;
    }
    #wrapper #top-nav{
        height: 60px;
    }
    #wrapper #top-nav #nav-b{
        line-height: 60px;
    }
    #box ul {
        position: absolute;
        bottom: 3px;
    }
    #box ul li {
        width: 10px;
        height: 4px;
    }
}