#top{
    background: #eee;
    height: 40px;
    border-bottom: 1px solid #ccc;
}
#top #top-menu{
    display:flex;
    width: 300px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin: 0 0 0 auto;
    cursor: pointer;
    z-index: 111;
}
#top #top-menu #top-menu-one{
    flex:1;
    background: #ff0000;
}
#top #top-menu #top-menu-two{
    flex:1;
}
#top #top-menu #top-menu-three{
    flex:1;
}
#top #top-menu #top-menu-one #top-menu-second-one{
    border-top: 2px solid #00a862;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    color:#00a862;
    display:none;
}
#top #top-menu #top-menu-one:hover #top-menu-second-one{
    display: block;
    
}