*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
#div{
    position: relative;
}
body{
    background: #c9cbe4;
}
/*背景图*/
#banner{
    position: relative;
    width: 100%;
    height: 100%;
    background: #c9cbe4;
}
#banner #wai img{
    height: 730px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*顶部导航*/
#top{
    width: 100%;
    height: 50px;
    background: #fff;
    border: 1px solid #ccc;
    position: fixed;
    top: 0;
    z-index: 10;
}
#top #top1{
    width: 90px;
    margin-left: 100px;
    margin-top:8px;
}
#top form{
    width: 450px;
    height: 30px;
    position: absolute;
    left: 200px;
    top: 10px;
}
#top #search{
    width: 450px;
    height: 30px;
    background: #eee;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
    text-indent: 5px;
    line-height: 30px;
}
#sousuo{
    position: absolute;
    top: 9px;
    left: 430px;
    cursor:pointer;
}
#sousuo:hover{
    color: #f88208;
}
#list{
    list-style: none;
    position: absolute;
    top: 14px;
    right: 150px;
}
#list .top{
    text-align: center;
    float: left;
    font-size: 16px;
    display: block;
}

#list .top1{
    width: 80px;
    color: #767272;
    cursor:pointer;
}
#list i{
    font-size: 17px;
    margin-right: 2px;
}
#list .top2{
    width: 40px;
    color: #767272;
    position: relative;
}
#list .top3{
    width: 40px;
    color: #f88208;
}
#list .bian:hover{
    color: #f88208;
}
#user{
    border-right: 1px solid #bbb;
}

/*设置二级菜单*/
#two{
    box-shadow: 0 0 5px #aaa;
    position: absolute;
    top: 30px;
    left: -20px;
    display: none;
    border-radius:2px;
}
#two .second{
    background: #fff;
    font-size: 12px;
    color: #767272;
    width: 80px;
    height: 30px;
    list-style: none;
    text-align: center;
    line-height: 30px;
}
.triangle::after{
    content: '';
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    width: 0;
    height: 0;
    position: absolute;
    top: -11px;
}
#two .xia{
    border-bottom: 1px solid #ccc;
}
#two .second:hover{
    background: #eee;
    color: #f88208;
}
.top:hover #two{
    display: block;
}

/*中间部分*/
#middle{
    width:900px;
    position: absolute;
    left: 50%;
    top: 52px;
    transform: translate(-50%);
    z-index: 2;
}
#photo{
    height: 350px;
    background: url(../imgs/8.jpg) no-repeat 0 0;
    background-size: cover;
}
/*头像*/
#photo #picture{
    width: 100px;
    height: 100px;
    background: url(../imgs/7.jpg) no-repeat 0 0;
    background-size: cover;
    border: 2px solid;
    border-color: rgba(255,255,255,.5);
    border-radius: 100px;
    position: absolute;
    left: 50%;
    top: 100px;
    transform:translate(-50%);
}
#photo h2{
    color: #ffffff;
    display: inline;
}
#photo span{
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}
#photo #text{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%);
}
#photo p{
    color: #ffffff;
    font-size: 13px;
    position: absolute;
    left: 50%;
    top: 71%;
    transform: translate(-50%);
}

/*头像下的按钮*/
#btn{
    width: 35%;
    height: 35px;
    background: transparent;
    position: absolute;
    top: 80%;
    left: 52%;
    transform: translate(-50%);
}
#btn>div{
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #ffffff;
    border-radius: 2px;
    background: #5f636d;
    cursor: pointer;
}
#btn>div:hover{
    background: #767272;
}
#btn #a1{
     width: 30%;
     margin-right: 5px;
    position: absolute;
    top: 0;
 }
#btn #a2{
    width: 10%;
    margin-right: 8px;
    position: absolute;
    top: 0;
    left: 33%;
}
#a2 .icon-arrDown{
    font-size: 20px;
}
#btn #a3{
    width: 30%;
    margin-right: 8px;
    position: absolute;
    top: 0;
    left: 46%;
}
#btn #a4{
    width: 12%;
    position: absolute;
    top: 0;
    left: 79%;
}
/*二级菜单*/
#aa1,#aa2{
    width: 115px;
    height: 140px;
    display: none;
    z-index: 2;
}
#aa1 .bb,#aa2 .bb{
    height: 35px;
    background: #fff;
    color:#767272;
    padding-left: 6px;
    text-align: left;
}
#aa1 .bb:hover,#aa2 .bb:hover{
    background: #eee;
    color:#f88208;
}
#btn #a1:hover #aa1{
    display: block;
}
#btn #a4:hover #aa2{
    display: block;
}

/*白条*/
#across{
    background: #ffffff;
    height: 40px;
    width: 900px;
    position: absolute;
    left: 50%;
    top: 402px;
    transform: translate(-50%);
}
#across .span{
    margin-right: 100px;
    display: inline-block;
    height: 40px;
    cursor: pointer;
    line-height: 40px;
}
#across .span:last-child{
    margin-right: 0;
}
#across #pad{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

/*轮播图*/
#big-box{
    width: 1000px;
    position: relative;
    margin: 500px auto;
}
#big-box #box{
    width: 1000px;
    height: 567px;
    position: relative;
    top: 0;
    left: 0;
}
#big-box img{
    position:absolute;
    width: 1000px;
    transition:opacity 2s ease;
    opacity: 0;
}
#big-box .aa{
    opacity: 1;
}
#big-box #btn1{
    position: absolute;
    bottom: 10px;
    left:50%;
    transform: translateX(-50%);
}
#big-box #btn1 div{
    width: 60px;
    height: 12px;
    background:rgba(0,0,0,.4);
    float:left;
    margin-right: 5px;
}
#big-box #btn1 .small{
    background: #ccc;
}